.te{
  text-align: center;
  margin: 15px 15px;
  width: 400px;
  color: white;
  background: yellow;
  cursor:pointer;
  vertical-align: middle;
}

.te:active {
    background-color: rgba(120, 255, 120, 1.0);
}


.imgDisplay {
  margin: 10% auto;
  width: 200px;
}
